@media (min-width:320px) and (max-width:520px){
*{
   @include siempre;
}
html{
    font-size: 62.5%;
}
    //Sección Header - Titulo - Parrafo
.contenedorTituloParrafo{
    @include flexCenter;
    flex-direction: column;
}
    
.contenedorTituloParrafo h1, .contenedorTituloParrafo h2{
    @include tituloMobile;
}
    
.contenedorTituloParrafo p{
    @include parrafoMobile;
}
header figure{
    text-align: center;
}

header figure img{
    width:30rem;
}
//Sección Main- Tarjetas Index
.contenedorIndex{
    display: grid;
    grid-template-areas: 
    "sede "
    "instuctor"
    "eventos"
    "contacto"
    ;
    margin:2rem;
    color:$letrablanca;
}

.contenedorIndex .cardSede{
    color: white;
    margin-top: 7rem;
    grid-area: sede;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/fotosede.jpeg);
    background-position:bottom left;
    background-size: cover;

}
//Verificar
.contenedorIndex .cardSede:hover{
    border-radius:$bordeCard;
}

.contenedorIndex .cardInstructor{
    
    margin-top: 4rem;
    grid-area:instuctor;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0,1 ), rgba(0, 0, 0, 0.4)), url(/imagenes/fondoCards/fondotres.jpeg);
    background-position:center;
    background-size: cover;
}

.contenedorIndex .cardEventos{
    margin-top: 4rem;
    grid-area:eventos;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(/imagenes/fondoCards/fondoContacto.jpeg);
    background-position:  center ;
    background-size: cover; 
}

.contenedorIndex .cardContactos{
    margin-top: 4rem;
    grid-area:contacto;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(/imagenes/fondoCards/fondotodo.jpeg);
    background-position: right ;
    background-size: cover; 
}
.cardEventos .tituloCard{
    @include tituloCard;
    grid-area:titulo;
    color:white;

}

.techoCard{
    background-color:rgba(77, 76, 76, 0.71);
    height: 2.2rem;
    grid-area:techo;
    border-radius:$bordeCard;
}

.tituloCard{
    @include tituloCard;
    grid-area:titulo;
}

.parrafoCard{
    @include parrafoCard;
    grid-area:parrafo;
}

.pisoCard{
    background-color:rgba(77, 76, 76, 0.71);
    height: 2.2rem;
    grid-area:piso;
    border-radius:$bordeCard; 
}




}

@media (min-width:521px) and (max-width:730px){

*{
    @include siempre;
}
   
html{
    font-size: 62.5%;
}

    //Sección Header - Titulo - Parrafo
.contenedorTituloParrafo{
    @include flexCenter;
    flex-direction: column;
}
        
.contenedorTituloParrafo h1, .contenedorTituloParrafo h2{
    @include tituloTablet;
}
        
.contenedorTituloParrafo p{
    @include parrafoTablet;
}

 header figure{
    text-align: center;
}
    
header figure img{
    width:40rem;
    filter: drop-shadow(0.2rem 0.8rem 0.2rem rgba(16, 204, 221, 0.128));
}

    //Sección Main- Tarjetas Index
.contenedorIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:6rem;
    color:$letrablanca;
}
    
.contenedorIndex .cardSede{
    color: white;
    margin-top: 7rem;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/fotosede.jpeg);
    background-position:bottom left;
    background-size: cover;
    
}
    //Verificar
.contenedorIndex .cardSede:hover{
    border-radius:$bordeCard;
 }
    
.contenedorIndex .cardInstructor{
    margin-top: 4rem;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0,1 ), rgba(0, 0, 0, 0.4)), url(../imagenes/fondoCards/fondotres.jpeg);
    background-position:center bottom;
    background-size:cover;
    background-attachment:fixed;
}
    
.contenedorIndex .cardEventos{
    margin-top: 4rem;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 3), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/guantesDos.jpg);
    background-position: top center;
    background-size:cover;    
}
    
.contenedorIndex .cardContactos{
    margin-top: 4rem;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/fondotodo.jpeg);
    background-position: center ;
    background-size:cover; 
}

.cardEventos .tituloCard{
     @include tituloCard;
    color:white;
    
    }
    
.techoCard{
    background-color:rgba(77, 76, 76, 0.71);
    height: 2.5rem;
    border-radius:$bordeCard;
}
    
.tituloCard{
    @include tituloCardTablet;
}
 
.parrafoCard{
    @include parrafoCardTablet;
    }
    
.pisoCard{
     background-color:rgba(77, 76, 76, 0.71);
     height: 2.5rem;
    grid-area:piso;
    border-radius:$bordeCard; 
    }
    
    
    
    
}

@media (min-width:731px) and (max-width:991px){

*{
    @include siempre;
}
           
html{
    font-size: 62.5%;
}
        
            //Sección Header - Titulo - Parrafo
.contenedorTituloParrafo{
    @include flexCenter;
    flex-direction: column;
}
                
.contenedorTituloParrafo h1, .contenedorTituloParrafo h2{
     @include tituloNotebook;
 }
                
.contenedorTituloParrafo p{
    @include parrafoNotebook;
}
        
header figure{
    margin-top: 8rem;
    text-align: center;
    }
            
header figure img{
    width:55rem;
    filter: drop-shadow(0.6rem 0.8rem 0.2rem rgb(0, 0, 0));
}
        
//Sección Main- Tarjetas Index
.contenedorIndex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin:8rem;
    color:$letrablanca;
}
            
.contenedorIndex .cardSede{
    color: white;
    margin-top:10rem;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/fotosede.jpeg);
    background-position:bottom left;
    background-size: cover;           
}

.contenedorIndex .cardInstructor{
    margin-top: 4rem;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0,1 ), rgba(0, 0, 0, 0.4)), url(../imagenes/fondoCards/fondotres.jpeg);
    background-position:center bottom;
    background-size:cover;
    background-attachment:fixed;
}
            
.contenedorIndex .cardEventos{
    margin-top: 4rem;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 3), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/guantesDos.jpg);
    background-position: top center;
    background-size:cover;    
}
            
.contenedorIndex .cardContactos{
    margin-top: 4rem;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/fondotodo.jpeg);
    background-position: center;
    background-size:cover; 
}


.cardEventos .tituloCard,.cardInstructor .tituloCard,.cardSede .tituloCard,.cardContactos .tituloCard{
    @include tituloCardNotebook;
    color:white;
    margin-left: 2rem;
 }
            
.techoCard{
    background-color:rgba(77, 76, 76, 0.71);
    height: 4rem;
    margin-bottom: 2rem;
    border-radius:$bordeCard;
}

.parrafoCard{
    @include parrafoCardNotebook;
    }
            
.pisoCard{
    background-color:rgba(77, 76, 76, 0.71);
    grid-area:piso;
    border-radius:$bordeCard; 
    height: 4rem;
    margin-top: 2rem;
}
            
            
            
            
}
    
/*Falta modificar este ultimo*/
@media (min-width:992px){

*{
    @include siempre;
}
               
html{
    font-size: 62.5%;
}
            
                //Sección Header - Titulo - Parrafo
.contenedorTituloParrafo{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
                    
.contenedorTituloParrafo h1, .contenedorTituloParrafo h2{
     @include tituloNotebook;
}
                    
.contenedorTituloParrafo p{
    @include parrafoNotebook;
}
            
header figure{
    margin-top: 4rem;
    text-align: center;
}
                
header figure img{
    width:45rem;
    filter: drop-shadow(0.6rem 0.8rem 0.2rem rgb(0, 0, 0));
}
            
    //Sección Main- Tarjetas Index
.contenedorIndex{
    display: grid;
    margin:8rem;
    color:$letrablanca;
    grid-template-areas: 
    "sede instructor"
    "contactos eventos";
    grid-column-gap:4rem;
    grid-row-gap:4rem;

}
                
.contenedorIndex .cardSede{
    grid-area: sede;
    color: white;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/fotosede.jpeg);
    background-position:bottom left;
    background-size: cover;           
}
    
.contenedorIndex .cardInstructor{
    grid-area: instructor;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0,1 ), rgba(0, 0, 0, 0.4)), url(../imagenes/fondoCards/fondotres.jpeg);
    background-position:center;
    background-size:cover;
}
                
.contenedorIndex .cardEventos{
    grid-area: eventos;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 3), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/guantesDos.jpg);
    background-position: top center;
    background-size:cover;    
}
                
.contenedorIndex .cardContactos{
    grid-area: contactos;
    @include card;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../imagenes/fondoCards/fondotodo.jpeg);
    background-position: center;
    background-size:cover; 
}
    
    
.cardEventos .tituloCard,.cardInstructor .tituloCard,.cardSede .tituloCard,.cardContactos .tituloCard{
    @include tituloCardNotebook;
    color:white;
    text-align: center;
}
                
    .techoCard{
        background-color:rgba(77, 76, 76, 0.71);
        height: 4rem;
        margin-bottom: 2rem;
        border-radius:$bordeCard;
    }
    
    .parrafoCard{
        @include parrafoCardNotebook;
        }
                
    .pisoCard{
        background-color:rgba(77, 76, 76, 0.71);
        grid-area:piso;
        border-radius:$bordeCard; 
        height: 4rem;
        margin-top: 2rem;
    }
                
                
                
                
    }


